# Ignorer tout par défaut
*

# Ne pas ignorer certains fichiers spécifiques
!.gitignore
!API.py
!app.py
!requirements.txt
!scaler.pkl
!best_model.pkl
!best_threshold.pkl
!model_ok.ipynb

# Ne pas ignorer le dossier GitHub Actions
!.github/
!.github/workflows/
!.github/workflows/deploy.yml
!.github/workflows/test_api.yml
